<!doctype html>
<html lang="en" ng-app="uHunt">
<head>
  <meta charset="utf-8">
  <title>uHuntJia</title>
  <link rel="stylesheet" href="uhunt.css"/>
  <link rel="shortcut icon" href="images/uva-rounded.png" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/uhunt-base.js"></script>
  <script src="js/uhunt-chat.js"></script>
  <script src="js/uhunt-problem-search.js"></script>
  <script src="js/uhunt-statistics.js"></script>
  <script src="js/uhunt-livesubs.js"></script>
  <script src="js/uhunt-cpbook.js"></script>
  <script src="js/uhunt-next-problems.js"></script>
  <script src="js/uhunt-ranklist.js"></script>
  <script src="js/uhunt-statscmp.js"></script>
  <script src="js/uhunt-vcontest.js"></script>
  <script>
  angular.module('uHunt', [
    'uHunt.base',
    'uHunt.chat',
    'uHunt.problem_search',
    'uHunt.statistics',
    'uHunt.livesubs',
    'uHunt.cpbook',
    'uHunt.next-problems',
    'uHunt.ranklist',
    'uHunt.statscmp',
    'uHunt.vcontest',
  ])

  .factory('uhunt', function ($rootScope, $location, uhunt_config, uhunt_util, uhunt_rpc) {

    function fetch() {
      if (!uhunt_config.user.uid) return;
      console.log('Fetching statistics for uid: ' + uhunt_config.user.uid);
      uhunt_rpc.subs_since(uhunt_config.user.uid, 0, function (res) {
        uhunt_config.user.clear();
        uhunt_config.user.set_name(res.name);
        uhunt_config.user.set_uname(res.uname);
        for (var i = 0; i < res.subs.length; i++){ 
          var s = res.subs[i];
          uhunt_config.user.update({ sid:s[0], pid:s[1], ver:s[2], run:s[3], sbt:s[4], lan:s[5], rank:s[6] });
        }
        uhunt_config.user.notify_all();
      });
    }

    $rootScope.uhunt_user = uhunt_config.user;
    $rootScope.$watch('uhunt_user.uid', fetch);

    $rootScope.$watch('username_input', function () {
      if (!$rootScope.username_input) return;
      uhunt_rpc.uname2uid($rootScope.username_input, function (uid) {
        if (uid) $location.path('/id/' + uid);
      });
    });

    // Set the default statistics to be the author of uHunt >:).
    if (!uhunt_util.parse_uid_from_path($location.path())) {
      $location.path('/id/');
    }

    $rootScope.$on('$locationChangeSuccess', function (event) {
      uhunt_config.user.uid = uhunt_util.parse_uid_from_path($location.path()); // Load this user statistics.
    });

    return uhunt_config;
  })
  </script>
</head>

<body>
<div style="margin:0 auto; width:970px">

  <div uhunt-chat width="550" height="250" style="float:right; padding: 0 0 10px 25px"></div>

  <!-- LOGO -->
  <table cellspacing="0" cellpadding="0">
  <tr>
    <td><img border="0" src="images/uva.png" height="70" width="70" style="padding-right:15px"></td>
    <td><span style="font-size:40px; font-family:Arial; font-weight:bold;">uHuntJia</span><br>
      <span style="font-size:12px; font-family: verdana; font-style: italic; ">hunt problems that matter</span><br>
    </td>
  </tr>
  </table>

  <p>uHuntJia is a modified version of Felix Halim's <a target="_blank" href="https://github.com/felix-halim/uhunt-components">uHunt components</a> and is an unofficial companion website of <b><i>Art of Algorithms and Programming Contests （算法競賽入門經典）</i></b> series. The most significant difference between uHunt and uHuntJia is the programming exercise section, which is replaced to problems sets for the AOAPC series.
  </p>
  
  <p>
  To submit your solution, use <a target="_blank" href="http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=25&page=submit_problem">UVa Quick Submit</a>.
  For uHunt visitors who mistakenly get here, <a target="_blank" href="http://uhunt.onlinejudge.org/" >this</a> is your true destination.
  For source code of uHuntJia, click <a target="_blank" href="https://github.com/Mushiyo/uHuntJia">here</a>.
  </p>
   
  <p style="margin:0">Your UVa username:
    <input placeholder="UVa username" ng-model="username_input" value="" size="13">
  </p>

  <form ng-submit="problem_search.show=true; problem_search.search(2,1)">
    <p>Search Problem Number:
    <input ng-model="problem_search.number" value="100" style="width:60px">&nbsp;
    <input type="submit" value="Search">
    <button ng-click="problem_search.number=''; problem_search.hide()">Clear</button></p>
  </form>

  <div uhunt-problem-search="problem_search.number" show="problem_search.show" search="problem_search.search" hide="problem_search.hide"></div>

  <div style="clear:both" uhunt-livesubs></div>
  <hr style="clear:both">

  <div uhunt-statistics></div>
  <hr style="clear:both">

  <div uhunt-cpbook></div>
  <hr style="clear:both">

  <div uhunt-next-problems></div>
  <hr style="clear:both">

  <div uhunt-ranklist></div>
  <hr style="clear:both">

  <div uhunt-statscmp></div>
  <hr style="clear:both">

  <div uhunt-vcontest></div>
  <hr style="clear:both">

  <div>
    <h2 align="center">Frequently Asked Questions</h2>

    <ul>
    <li>Q: What are the meaning of the colors on some problem numbers?<br>
    A: The problem number will will be colored
    Red if it was last submitted less than <b style="color:#FF0000">2 days</b> ago,
    Green for less than <b style="color:#00AA00">1 week</b> ago,
    Blue for less than <b style="color:#0000FF">1 month</b> ago,
    Orange if the problem is <b style="color:orange">not yet Accepted</b>,
    otherwise, <b>Black</b>.
    In the ChatBox and in the Live Submissions, some problem numbers will be
    <u>underlined</u> if you have solved the problem.
    The <b>bold problem numbers</b> in the statistics denotes that
    the runtime of your submission is equal to the best runtime (rank 1 of that problem).
    </li>
    </ul>
  </div>
</div>
</body>
</html>
